.header {
    background-color: #ffffff;
    display: grid;
    padding: 16px 0;
    height: 80px;
    border: 1px solid #f4f4f4;
}

.header__title {
    color: #f5c800;
    text-decoration: none;
    font-family: jsMath-cmti10;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    vertical-align: middle;
}
