.header {
  display: grid;
  padding: 16px 0;
  height: 80px;
  border: 1px solid #F4F4F4;
}

.header__heading {
    color: #F5C800;
    text-decoration: none;
    font-family: jsMath-cmti10;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    vertical-align: middle;
}