.content {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.product__heading {
    writing-mode: horizontal-tb;
    display: flex;
    justify-content: space-between;
}

.product__group{
    margin-left: 50px;
    width: 300px;
}



.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 100px;
}

.card_image {
    width: 374px;
}