.content {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 20px;
}

.product__heading {
    writing-mode: horizontal-tb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
}

.product-group{
    margin-left: 40px;
    margin-right: 40px;
    gap: 30px;
    display: flex

}



.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card_image {
    width: 374px;
}

.card_text {
    display: flex;
    justify-content: space-between;
}